// bg colors button
$buttonBgColor : purple;
$hoverBgColor : white;


// input colors 
$buttonColor : white;
$hoverColor : black;


// body bg color 
$inputBgColor : #ffffff;
$inputHoverBgColor : black;
$inputColor : white;