// bg colors button
$buttonBgColor : purple;
$hoverBgColor : white;


// input colors 
$buttonColor : white;
$hoverColor : black;


// body bg color 
$inputBgColor : #ffffff;
$inputHoverBgColor : black;
$inputColor : white;



// tasks:
$taskColor : #f0f0f0;
$taskHoverBgColor : #b2abab;
$taskBgColor : #333;

// task In progress
$taskInProgress: #0044ff;



// taskDone
$taskBgDone: #4caf50;
$taskDoneColor: white;