@import "../color.scss";

.container {
    width: 400px;
    height: 60px;
    background-color: $buttonBgColor;
    color: $buttonColor;
    font-size: 23px;
    box-sizing: border-box;
    padding-left: 17px;
    border-radius: 40px;
    display: flex;
    justify-content: start;
    align-content: center;
    align-self: center;
    min-height: 50px;
    margin-bottom: 8px;


}

.myicon {
    display: inline;
    margin: 5px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.container:hover {
    background-color: $hoverBgColor;
    border: 2px solid black;
    color: $hoverColor;

    .myicon {
        border: 2px solid black;
        animation: rotateIconCCW 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    } 
}

.container:not(:hover) {
    .myicon {
      animation: rotateBackCCW 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
     animation-play-state: running;
    }
  }


// icon hover animation
@keyframes rotateIconCCW {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-270deg);  // Counter-clockwise full rotation
  }
}

// icon return animation
@keyframes rotateBackCCW {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}