@import "../color.scss";

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: relative;
    display: flex;
    width: 430px;
    height: 400px;
    background-color: $inputBgColor;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.myInput {
    align-self: center;
    width: 400px;
    height: 55px;
    min-height: 50px;
    border-radius: 18px;
    border: 2px solid black;
    font-size: 23px;
    margin-bottom: 15px;
}

// .myInput:hover {
//     background-color: $inputHoverBgColor;
//     color: $inputColor;
//     border: 2px solid white;
// }

.Title {
    display: flex;
    align-self: center;
    justify-self: start;
    font-size: 35px;
    margin-bottom: 15px;
}



// .iconContainer {
//     position: absolute;
//     right: 10px;
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     border: 2px solid red;
//     width: 33%;
//     height: 100%;
//     gap: 20px;

// }




