@import "../button/color.scss";

.container {
    position: absolute;

    display: flex;
    justify-self: center;
    align-self: center;
    width: 430px;
    min-height: 400px;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;


}


.myInput {
    align-self: center;
    width: 400px;
    height: 55px;
    border-radius: 18px;
    border: 2px solid black;
    font-size: 23px;
    margin-bottom: 15px;

}


.Title {
    display: flex;
    align-self: center;
    justify-self: start;
    font-size: 35px;
    margin-bottom: 15px;

}

.mylist {   
    position: relative;
    font-size: 20px;
    left: 40px;
    list-style: disc;
    // list-style: none;



}