.taskIcons {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

}

.editIcon {
    right: 10px;

}

.deleteIcon {
    right: 50px;
}


.editIcon:hover {
    color: blue;
    animation: shake 0.3s ease-in-out; 
}


.deleteIcon:hover {
    color: #ef4444;
    animation: shake 0.3s ease-in-out; 

}
@keyframes shake {
  0%, 25% { transform: translateX(0); }
  25%, 50% { transform: translateX(-1px); }
  
  50%, 75% { transform: translateX(0); }
  75%, 100% { transform: translateX(-1px); }
  
  100% { transform: translateX(0); }
}




// shake N2
// @keyframes shake {
//   /* Shake 1 */
//   0%, 10% { transform: translateX(0); }
//   20%, 30% { transform: translateX(-1px); }
//   40% { transform: translateX(1px); }
  
//   /* Shake 2 */
//   50%, 60% { transform: translateX(0); }
//   70%, 80% { transform: translateX(-1px); }
//   90% { transform: translateX(px); }
  
//   /* Shake 3 */
//   100% { transform: translateX(0); }
// }
